@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Open Sans", sans-serif;
}

.input {
    @apply max-w-full rounded-lg border h-14 justify-center leading-13 px-3 bg-transparent duration-75;
}

.small-input {
    @apply max-w-full rounded-lg border h-12 justify-center leading-13 px-3 bg-transparent duration-75;
}


.btn {
    @apply max-w-full w-full active:rounded-xl rounded-lg h-14 justify-center leading-13 text-center cursor-pointer duration-150;
}

button:disabled,
button[disabled] {
    @apply hover:rounded-lg active:rounded-lg bg-gray-300 hover:bg-gray-300 active:bg-gray-300 cursor-default;
}

.small-btn {
    @apply rounded-lg active:rounded-xl h-12 duration-150 cursor-pointer px-3 flex items-center justify-center text-center;
}

.icon-btn {
    @apply rounded-lg justify-center items-center flex cursor-pointer transition-all duration-100 hover:rounded-2xl;
}


.icon-btn-nav {
    @apply icon-btn w-14 h-14;
}

.icon-btn-mh {
    @apply icon-btn h-full aspect-square;
}

.scrollable-grid-item {
    max-height: calc(100vh - 1.5rem);
    /* Adjust as needed based on your layout */
    overflow: auto;
}

@media (min-width: 1024px) {
    .lg\:scrollable-grid-item {
        max-height: calc(100vh - 1.5rem);
        /* Adjust as needed based on your layout */
        overflow: auto;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.slider::-webkit-slider-thumb {
    @apply w-6 h-6 rounded-lg hover:rounded-xl active:rounded-full cursor-pointer appearance-none duration-200;
}

.slider::-moz-range-thumb {
    @apply w-6 h-6 rounded-lg hover:rounded-xl active:rounded-full cursor-pointer appearance-none duration-200;
}

.error {
    @apply max-w-full bg-red-400 rounded-full h-14 px-6 justify-center leading-13 text-center text-white
}

.success {
    @apply max-w-full bg-lime-500 rounded-full h-14 px-6 justify-center leading-13 text-center text-white
}
