.wrapper {
    display: flex;
}

@media only screen and (max-width: 1370px){
    .wrapper {
        flex-direction: column;
    }
}

.navbar {
    position: fixed;
    top: 100vh;
    transform: translateY(-120%) translateX(-50%);
    left: 50vw;
    z-index: 2;
    width: max-content;
    padding: 5px 30px;
    border-radius: 100px;
    display: flex;
    gap: 10px;
    background-color: #F8EDE3;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    gap: 40px;
    font-size: 50px;
}

.icon {
    font-size: 32px;
}

.button {
    width: 48px;
    height: 48px
}

@media only screen and (max-width: 830px) {
    .navbar {
        width: 90vw;
        left: 0px; 
        transform: translateY(-100%) translateX(0px);
        border-radius: 0px;
        height: 80px;
    }
}

.change_container {
    border-radius: 4px;
    padding: 20px;
    font-size: 20px;
    position: fixed;
    top: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transform: translateY(calc(-100% - 10px));
    background-color: #FD8A8A;
    border: 1px solid #FF597B;
    align-items: center;
    font-weight: 600;
    animation: changeanim 500ms ease-in-out 0ms 1 forwards;
}