.wrapper {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1370px){
    .wrapper {
        flex-direction: column;
    }
}

.navbar {
    position: fixed;
    top: 10px;
    left: calc(100vw);
    transform: translateX(-160%);
    z-index: 2;
    width: max-content;
    padding: 30px 5px;
    border-radius: 100px;
    display: flex;
    gap: 10px;
    background-color: #F8EDE3;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 50px;
}

.icon {
    font-size: 32px;
}

.button {
    width: 48px;
    height: 48px
}

@media only screen and (max-width: 830px) {
    .navbar {
        top: 5px;
        left: 0;
        position: relative;
        width: 85%;
        transform: translateY(0);
        padding: 5px 30px;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: row;
    }
}

.change_container {
    border-radius: 4px;
    padding: 20px;
    font-size: 20px;
    position: fixed;
    top: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transform: translateY(calc(-100% - 10px));
    background-color: #FD8A8A;
    border: 1px solid #FF597B;
    align-items: center;
    font-weight: 600;
    animation: changeanim 500ms ease-in-out 0ms 1 forwards;
}