.theme-slate {
  --base-50: 248, 250, 252;
  --base-100: 241, 245, 249;
  --base-200: 226, 232, 240;
  --base-300: 203, 213, 225;
  --base-400: 148, 163, 184;
  --base-500: 100, 116, 139;
  --base-600: 71, 85, 105;
  --base-700: 51, 65, 85;
  --base-800: 30, 41, 59;
  --base-900: 15, 23, 42;
  --base-950: 2, 6, 23;
}

.theme-gray {
  --base-50: 249, 250, 251;
  --base-100: 243, 244, 246;
  --base-200: 229, 231, 235;
  --base-300: 209, 213, 219;
  --base-400: 156, 163, 175;
  --base-500: 107, 114, 128;
  --base-600: 75, 85, 99;
  --base-700: 55, 65, 81;
  --base-800: 31, 41, 55;
  --base-900: 17, 24, 39;
  --base-950: 3, 7, 18;
}

.theme-zinc {
  --base-50: 250, 250, 250;
  --base-100: 244, 244, 245;
  --base-200: 228, 228, 231;
  --base-300: 212, 212, 216;
  --base-400: 161, 161, 170;
  --base-500: 113, 113, 122;
  --base-600: 82, 82, 91;
  --base-700: 63, 63, 70;
  --base-800: 39, 39, 42;
  --base-900: 24, 24, 27;
  --base-950: 9, 9, 11;
}

.theme-neutral {
  --base-50: 250, 250, 250;
  --base-100: 245, 245, 245;
  --base-200: 229, 229, 229;
  --base-300: 212, 212, 212;
  --base-400: 163, 163, 163;
  --base-500: 115, 115, 115;
  --base-600: 82, 82, 82;
  --base-700: 64, 64, 64;
  --base-800: 38, 38, 38;
  --base-900: 23, 23, 23;
  --base-950: 10, 10, 10;
}

.theme-stone {
  --base-50: 250, 250, 249;
  --base-100: 245, 245, 244;
  --base-200: 231, 229, 228;
  --base-300: 214, 211, 209;
  --base-400: 168, 162, 158;
  --base-500: 120, 113, 108;
  --base-600: 87, 83, 78;
  --base-700: 68, 64, 60;
  --base-800: 41, 37, 36;
  --base-900: 28, 25, 23;
  --base-950: 12, 10, 9;
}

.theme-red {
  --base-50: 254, 242, 242;
  --base-100: 254, 226, 226;
  --base-200: 254, 202, 202;
  --base-300: 252, 165, 165;
  --base-400: 248, 113, 113;
  --base-500: 239, 68, 68;
  --base-600: 220, 38, 38;
  --base-700: 185, 28, 28;
  --base-800: 153, 27, 27;
  --base-900: 127, 29, 29;
  --base-950: 69, 10, 10;
}

.theme-orange {
  --base-50: 255, 247, 237;
  --base-100: 255, 237, 213;
  --base-200: 254, 215, 170;
  --base-300: 253, 186, 116;
  --base-400: 251, 146, 60;
  --base-500: 249, 115, 22;
  --base-600: 234, 88, 12;
  --base-700: 194, 65, 12;
  --base-800: 154, 52, 18;
  --base-900: 124, 45, 18;
  --base-950: 67, 20, 7;
}

.theme-amber {
  --base-50: 255, 251, 235;
  --base-100: 254, 243, 199;
  --base-200: 253, 230, 138;
  --base-300: 252, 211, 77;
  --base-400: 251, 191, 36;
  --base-500: 245, 158, 11;
  --base-600: 217, 119, 6;
  --base-700: 180, 83, 9;
  --base-800: 146, 64, 14;
  --base-900: 120, 53, 15;
  --base-950: 69, 26, 3;
}

.theme-yellow {
  --base-50: 254, 252, 232;
  --base-100: 254, 249, 195;
  --base-200: 254, 240, 138;
  --base-300: 253, 224, 71;
  --base-400: 250, 204, 21;
  --base-500: 234, 179, 8;
  --base-600: 202, 138, 4;
  --base-700: 161, 98, 7;
  --base-800: 133, 77, 14;
  --base-900: 113, 63, 18;
  --base-950: 66, 32, 6;
}

.theme-lime {
  --base-50: 247, 254, 231;
  --base-100: 236, 252, 203;
  --base-200: 217, 249, 157;
  --base-300: 190, 242, 100;
  --base-400: 163, 230, 53;
  --base-500: 132, 204, 22;
  --base-600: 101, 163, 13;
  --base-700: 77, 124, 15;
  --base-800: 63, 98, 18;
  --base-900: 54, 83, 20;
  --base-950: 26, 46, 5;
}

.theme-green {
  --base-50: 240, 253, 244;
  --base-100: 220, 252, 231;
  --base-200: 187, 247, 208;
  --base-300: 134, 239, 172;
  --base-400: 74, 222, 128;
  --base-500: 34, 197, 94;
  --base-600: 22, 163, 74;
  --base-700: 21, 128, 61;
  --base-800: 22, 101, 52;
  --base-900: 20, 83, 45;
  --base-950: 5, 46, 22;
}

.theme-emerald {
  --base-50: 236, 253, 245;
  --base-100: 209, 250, 229;
  --base-200: 167, 243, 208;
  --base-300: 110, 231, 183;
  --base-400: 52, 211, 153;
  --base-500: 16, 185, 129;
  --base-600: 5, 150, 105;
  --base-700: 4, 120, 87;
  --base-800: 6, 95, 70;
  --base-900: 6, 78, 59;
  --base-950: 2, 44, 34;
}

.theme-teal {
  --base-50: 240, 253, 250;
  --base-100: 204, 251, 241;
  --base-200: 153, 246, 228;
  --base-300: 94, 234, 212;
  --base-400: 45, 212, 191;
  --base-500: 20, 184, 166;
  --base-600: 13, 148, 136;
  --base-700: 15, 118, 110;
  --base-800: 17, 94, 89;
  --base-900: 19, 78, 74;
  --base-950: 4, 47, 46;
}

.theme-cyan {
  --base-50: 236, 254, 255;
  --base-100: 207, 250, 254;
  --base-200: 165, 243, 252;
  --base-300: 103, 232, 249;
  --base-400: 34, 211, 238;
  --base-500: 6, 182, 212;
  --base-600: 8, 145, 178;
  --base-700: 14, 116, 144;
  --base-800: 21, 94, 117;
  --base-900: 22, 78, 99;
  --base-950: 8, 51, 68;
}

.theme-sky {
  --base-50: 240, 249, 255;
  --base-100: 224, 242, 254;
  --base-200: 186, 230, 253;
  --base-300: 125, 211, 252;
  --base-400: 56, 189, 248;
  --base-500: 14, 165, 233;
  --base-600: 2, 132, 199;
  --base-700: 3, 105, 161;
  --base-800: 7, 89, 133;
  --base-900: 12, 74, 110;
  --base-950: 8, 47, 73;
}

.theme-blue {
  --base-50: 239, 246, 255;
  --base-100: 219, 234, 254;
  --base-200: 191, 219, 254;
  --base-300: 147, 197, 253;
  --base-400: 96, 165, 250;
  --base-500: 59, 130, 246;
  --base-600: 37, 99, 235;
  --base-700: 29, 78, 216;
  --base-800: 30, 64, 175;
  --base-900: 30, 58, 138;
  --base-950: 23, 37, 84;
}

.theme-indigo {
  --base-50: 238, 242, 255;
  --base-100: 224, 231, 255;
  --base-200: 199, 210, 254;
  --base-300: 165, 180, 252;
  --base-400: 129, 140, 248;
  --base-500: 99, 102, 241;
  --base-600: 79, 70, 229;
  --base-700: 67, 56, 202;
  --base-800: 55, 48, 163;
  --base-900: 49, 46, 129;
  --base-950: 30, 27, 75;
}

.theme-violet {
  --base-50: 245, 243, 255;
  --base-100: 237, 233, 254;
  --base-200: 221, 214, 254;
  --base-300: 196, 181, 253;
  --base-400: 167, 139, 250;
  --base-500: 139, 92, 246;
  --base-600: 124, 58, 237;
  --base-700: 109, 40, 217;
  --base-800: 91, 33, 182;
  --base-900: 76, 29, 149;
  --base-950: 46, 16, 101;
}

.theme-purple {
  --base-50: 250, 245, 255;
  --base-100: 243, 232, 255;
  --base-200: 233, 213, 255;
  --base-300: 216, 180, 254;
  --base-400: 192, 132, 252;
  --base-500: 168, 85, 247;
  --base-600: 147, 51, 234;
  --base-700: 126, 34, 206;
  --base-800: 107, 33, 168;
  --base-900: 88, 28, 135;
  --base-950: 59, 7, 100;
}

.theme-fuchsia {
  --base-50: 253, 244, 255;
  --base-100: 250, 232, 255;
  --base-200: 245, 208, 254;
  --base-300: 240, 171, 252;
  --base-400: 232, 121, 249;
  --base-500: 217, 70, 239;
  --base-600: 192, 38, 211;
  --base-700: 162, 28, 175;
  --base-800: 134, 25, 143;
  --base-900: 112, 26, 117;
  --base-950: 74, 4, 78;
}

.theme-pink {
  --base-50: 253, 242, 248;
  --base-100: 252, 231, 243;
  --base-200: 251, 207, 232;
  --base-300: 249, 168, 212;
  --base-400: 244, 114, 182;
  --base-500: 236, 72, 153;
  --base-600: 219, 39, 119;
  --base-700: 190, 24, 93;
  --base-800: 157, 23, 77;
  --base-900: 131, 24, 67;
  --base-950: 80, 7, 36;
}

.theme-rose {
  --base-50: 255, 241, 242;
  --base-100: 255, 228, 230;
  --base-200: 254, 205, 211;
  --base-300: 253, 164, 175;
  --base-400: 251, 113, 133;
  --base-500: 244, 63, 94;
  --base-600: 225, 29, 72;
  --base-700: 190, 18, 60;
  --base-800: 159, 18, 57;
  --base-900: 136, 19, 55;
  --base-950: 76, 5, 25;
}
